@import url("styleBasic.css");
video {
    background-color: rgb(46, 56, 56);
}

.headerVideo {
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
    object-fit: cover;
    animation: VideoExpand 1s;
    
}
@keyframes VideoExpand {
    0% {height: 1px;}
    100% {height: 350px;}
}
.headerText {
    margin-bottom: -110px;
    top: 50%;
    left: 50%;
    transform: translate(40%, -200px);
    color: #ffffff;
    text-shadow: 0px 0px 2px #000;
    font-size: 60px;
    z-index: 10;
}

#CardHolder {
    overflow-x: auto;
    white-space: nowrap;
}

#CardHolder::-webkit-scrollbar {
    width: 16px;
}

#CardHolder::-webkit-scrollbar-track {
    background: #c7c7c7;
    border-radius: 10px;
}

#CardHolder::-webkit-scrollbar-thumb {
    background-color: #4e4e4e;
    border-radius: 16px;
    border: 3px solid #4e4e4e;
}

/* for the cards */
.backgroundImage{ 
    width: 700px;
    height: 550px;
    filter: blur(2px) brightness(50%);
}
.cardBox:hover .backgroundImage{
    filter: blur(0px) brightness(100%);
}


.cardBox {
    border-radius: 50px;
    width: 700px;
    height: 550px;
    background-color: #f2e2e2;
    margin: 20px;
    display: inline-block;
    overflow: hidden;
}
.cardBox:hover{
    transform: scale(1.03);
    border-radius: 15px;
}

.cardTitle{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    text-align: center;
    transform: translate(0px, -210px);
}

#storeHeader {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    font-weight: 900;
    padding-left: 15px;
    margin-top: -10px;
}
#storeHeaderUnderline {
    border-bottom: 7px solid #000000;
    border-radius: 10px;
    width: 70%;
    margin-top: -40px;
    margin-left: 10px;
}

#storeBoxContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.itemCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    background-color: #dfdfdf;
    border: #ffffff 2px solid;
    height: 600px;
    width: 410px;
    overflow: hidden;
    margin: 30px;
}
.itemCard:hover{
    transform: scale(1.03);
    border-radius: 15px;
    margin: 30px;
    background-color: #e7e7e7;
    border: #747474 2px solid;
}
.itemCard:hover .itemImage{
    filter: brightness(120%);
    border-radius: 5px;
}

.itemImage {
    padding-top: 10px;
    height: 470px;
    width: 370px;
    object-fit:fill;
    border-radius: 30px;
}
.itemTitle {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: 900;
    margin-top: 3px;
    margin-bottom: -10px;
}
.itemPrice {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: 900;
    margin-top: 7px;
    margin-bottom: -10px;
}